@model IList<Park>

@{
    ViewData["Title"] = "Index";

}



@foreach (Park item in Model)
{
    string imageName = item.ParkCode + ".jpg";
    <div class="parkblock">
        <a asp-action="Detail/@item.ParkCode"><img src="~/images/parks/@imageName" /></a>

        <div class="infoblock">
            <h1>
                @item.Name
            </h1>
            <h3>@item.State</h3>
            <p>
                @item.Description
            </p>
        </div>

    </div>
}






